* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(65, 184, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container .alarm-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 30%;
  width: 470px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 10px;
  padding: 10px;
}

.alarm-container img {
  margin-top: 20px;
  max-width: 125px;
}
.alarm-container h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(65, 184, 131, 1);
  color: rgba(245, 245, 245);
}

.container .content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.content.disabled {
  cursor: no-drop;
}

.container .content .alarm-controls {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245);
  margin: 5px;
}

.content.disabled .alarm-controls {
  opacity: 0.6;
  pointer-events: none;
}

.container .content select {
  margin: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: rgba(245, 245, 245);
}
.container .content select option {
  width: 100%;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  color: #000;
}

.container button {
  width: 435px;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  padding: 17px 0;
  margin-top: 20px;
  border-radius: 5px;
  background: rgba(65, 184, 131, 1);
  color: rgba(245, 245, 245);
}
.container button:hover {
  transform: scale(1.01);
  cursor: pointer;
}
